<script>
  import { page } from "$app/stores";
</script>

<nav class="navbar navbar-expand-md navbar-dark bg-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Data Visualisation</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon" />
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            class:active={$page.url.pathname === "/"}
            aria-current="page"
            href="/">Home</a
          >
        </li>
        <li class="nav-item dropdown">
          <!-- svelte-ignore a11y-invalid-attribute -->
          <a
            class="nav-link dropdown-toggle"
            class:active={$page.url.pathname.includes("/instructions")}
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Instructions
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/instructions/initial_setup"
                >Initial setup</a
              >
              <a class="dropdown-item" href="/instructions/working_on_exercises"
                >Working on exercises</a
              >
              <a class="dropdown-item" href="/instructions/project_structure"
                >Project structure</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <!-- svelte-ignore a11y-invalid-attribute -->
          <a
            class="nav-link dropdown-toggle"
            class:active={$page.url.pathname.includes("/exercises")}
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Exercises
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a class="dropdown-item" href="/exercises/week_0">Week 0</a>
              <a class="dropdown-item" href="/exercises/week_5">Week 5</a>
              <a class="dropdown-item" href="/exercises/week_6">Week 6</a>
              <a class="dropdown-item" href="/exercises/week_7">Week 7</a>
              <a class="dropdown-item" href="/exercises/extra_challenges"
                >Extras</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:active={$page.url.pathname === "/final_project"}
            aria-current="page"
            href="/final_project">Final Project</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            class:active={$page.url.pathname === "/resit_project"}
            aria-current="page"
            href="/resit_project">Resit Project</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
